<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <title>Post Your Impression</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="https://kit.fontawesome.com/f408a441a0.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <header class="header-container">
        <div class="head-content title-container">
          <a href="/">
            The Books
            <i class="fas fa-book" aria-hidden="true"></i>
          </a>
        </div>
        <div class="head-content register-container">
          <% if(typeof user !== 'undefined') { %>
            <a href="/logout" class="btn">ログアウト</a><!--ログイン後に表示する-->
          <% } else { %>
            <a href="/register" class="btn">新規登録</a><!--未ログイン時に表示する-->
            <a href="/login" class="btn">ログイン</a>
          <% } %> 
        </div>
      </header>
      <div class="contents">
        <div class="main-container">
          <div class="side-container">
            <% if(typeof user !== 'undefined') { %>
              <!--ログイン後に表示する-->
              <a href="/users/<%= user.id %>" class="white-background user-info-box">
                <div class="image-box">
                  <img class="user-image" src="https://res.cloudinary.com/dtmue1o4b/image/upload/v1605691025/qkormwwrjv8anyrwzy1b.jpg">
                </div>
                <div class="info">
                  <div class="info-name">
                    <span><%= user.user_name %> さん</span>
                  </div>
                  <div class="info-numbers">
                    <span>投稿数：<%= totalNumber %> </span>
                  </div>
                </div>
              </a>
            <% } else { %>
              <!--未ログイン時に表示する-->
              <div class="white-background user-info-box">
                <div class="image-box">
                  <img class="user-image" src="https://res.cloudinary.com/dtmue1o4b/image/upload/v1605691025/qkormwwrjv8anyrwzy1b.jpg">
                </div>
                <div class="info">
                  <div class="info-name">
                    <span>Guest さん</span>
                  </div>
                  <div class="info-numbers">
                    <span>投稿数：250</span>
                  </div>
                </div>
              </div>
            <% } %>
          </div>
          <div class="contents-container">
            <h1>感想を投稿する</h1>
            <div class="post-form white-background">
              <form action="/post" method="post" enctype="multipart/form-data">
                <ul>
                  <% if(typeof err !== 'undefined') { for(let i in err) { %>
                    <li><%= err[i].message %></li>
                  <% }} %>
                </ul>
                <ul>
                  <li>
                    <p>本のタイトル：</p>
                    <input type="text" name="book_name">
                  </li>
                  <li>
                    <p>著者：</p>
                    <input type="text" name="author">
                  </li>
                  <li>
                    <p>本の画像：</p>
                    <input type="file" name="book_img">
                  </li>
                  <li>
                    <p>ジャンル：</p>
                    <select name="genre">
                      <option value="notSelected">リストから選択</option>
                      <option value="ラノベ">ラノベ</option>
                      <option value="小説">小説</option>
                      <option value="自己啓発">自己啓発</option>
                      <option value="SF">SF</option>
                      <option value="政治・経済">政治・経済</option>
                      <option value="マンガ">マンガ</option>
                      <option value="趣味">趣味</option>
                      <option value="ミステリー">ミステリー</option>
                    </select>
                  </li>
                  <li>
                    <p>感想のタイトル：</p>
                    <input type="text" name="title">
                  </li>
                  <li>
                    <p>感想：</p>
                    <textarea name="impression" class="impression-area"></textarea>
                  </li>
                  <li>
                    <p>公開：</p>
                    <p>
                      <input type="radio" name="visible" value="1" checked> 公開
                      <input type="radio" name="visible" value="0"> 非公開
                    </p>
                  </li>
                </ul>
                <div class="post-or-delete">
                  <div class="post">
                    <input class="btn" type="submit" value="投稿する">
                  </div>
                </div>
              </form>
            </div>
            <a href="/" class="btn">戻る</a>
          </div>
        </div>
      </div>
      <footer>
        <p>
          This app's source code is <a href="https://github.com/ayu1028/book-application" target="_blank" rel="noopener noreferrer">Here <i class="fab fa-github"></i></a>
        </p>
      </footer>
    </div>
  </body>
</html>