* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.link {
  text-decoration: none;
  color: black;
}

.login {
  margin-top: 5px;
}

.link:hover {
  text-decoration: none;
  color: rgb(27, 145, 223);
}

.user-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.user-info {
  border-left: solid 1px black;
}

.user {
  height: 60px;
  border-bottom: solid 1px black;
  padding-left: 5px;
}

.user p {
  line-height: 60px;
}

.number {
  height: 60px;
  padding-left: 5px;
}

.number p {
  line-height: 60px;
}

.user-name {
  border: solid 1px black;
  border-radius: 20px;
}

.content-container {
  background-color: #f1f1f1;
  border: solid 1px #9c9c9c;
  border-radius: 10px;
}

.image-container {
  border-right: solid 1px black;
  height: 150px;
}

.book-img {
  width: 100%;
  height: inherit;
  object-fit: contain;
}

.title-container {
  height: 75px;
  border-bottom: solid 1px black;
}

.title {
  padding-top: 5px;
  font-size: 18px;
}

.imp-title {
  padding-top: 5px;
  font-size: 14px;
}

.info {
  text-align: right;
  color: #696969;
  font-size: 9px;
}

.imp-container {
  height: 75px;
}

.footer {
  width: inherit;
  height: 40px;
  background-color: #f5f5f5;
  margin: auto;
}

.footer p {
  line-height: 40px;
}

/* for post */
.imp-form {
  padding: 10px 20px;
  margin-bottom: 8px;
}

.imp-form p {
  margin-bottom: 0;
  margin-top: 15px;
}

.imp-form h1 {
  font-size: 30px;
  text-decoration: underline;
}